@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

/* Button */
.myBTN {
  border: none;
  border-radius: 0.4rem;
  color: white;
  font-weight: 600;
  background-color: #ff735c;
  padding: 0.8rem;
  outline: none;
}

.myBTN:hover {
  transform: scale(1.05);
}

/* Navbar*/
.navbarBrand {
  letter-spacing: 0.3rem;
  font-family: "Archivo Black", sans-serif;
}

/* Footer */
.bgFooter {
  background-color: #ca5140;
}

/* Home */
.home-welcome {
  font-size: calc(2.5em + 2vw);
  font-weight: 700;
}

.home-para {
  font-size: 1.2rem;
  font-weight: 600;
}

.wrap-home-img {
  display: flex;
  justify-content: center;
}

.home-hero-text {
  display: inline-block;
  border-bottom: 2px solid #ff735c;
}

.wrap-data {
  background-color: #59957c;
  padding: 1rem;
  border-radius: 0.5rem;
}

.number-title {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.number-para {
  font-size: 1rem;
  font-weight: 500;
}
